aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
appnope
archspec
asgiref==3.8.1
asttokens
attrs==24.2.0
backoff==1.11.1
beautifulsoup4==4.13.3
boltons
Brotli
certifi
cffi
charset-normalizer
comm
contourpy==1.3.3
cryptography
cycler==0.12.1
debugpy
decorator
distro
Django==5.1.1
djangorestframework==3.15.2
exceptiongroup
executing
fonttools==4.60.1
frozendict
frozenlist==1.5.0
idna
imageio
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
jsonpatch
jsonpointer==2.1
jupyter_client
jupyter_core
kiwisolver==1.4.9
matplotlib==3.10.7
matplotlib-inline
multidict==6.1.0
narwhals==2.5.0
nest_asyncio
numpy==2.3.3
packaging
pandas==2.3.3
parso
pexpect
pickleshare
pillow
platformdirs
plotly==6.3.0
pluggy
prompt_toolkit
propcache==0.2.0
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing==3.2.5
PySocks
python-dateutil
pytz==2025.2
pyzmq
radiatreepp==0.1.0
redis==5.2.0
requests
ruamel.yaml
scipy==1.16.2
setuptools==72.1.0
six
soupsieve==2.6
spotify==0.10.2
spotipy==2.24.0
sqlparse==0.5.1
stack_data
tornado
tqdm
traitlets
truststore
typing_extensions
tzdata==2025.2
urllib3
wcwidth
wheel==0.43.0
yarl==1.16.0
zipp
zstandard
psycopg2-binary==2.9.9

